div {
    background-color: #fea500;
    height: 10em;
    width: 10em;
    }
h1 {
    color:#ffffff;
}
body {
    background-color: #808080;
}
body {
    background-color: #ffffff;
}
h1 {
    color:#0000ff;
    text-align: center;
}
span {
    color:#ff0000;
}
h1 {
    color:#ff0000;
    text-align: left;
}
body { 
    background-color: #faebd6;
}
p {
    color:#00008f;
}
#pierwszy {
    color:#a42423;
}
body {
    background-color: #f5f5dd;
}
#pierwszy{
    background-color: #000000;
    }
#drugi{
    background-color: #00000075;
}
#trzeci{
    background-color: #00000050;
}
#czwarty{
    background-color: #00000025;
}
h1 {
    color: #000000;
}
p {
  color: #000000;  
}
#dwa {
    color:#ff000075;
}
#trzy {
    color:#ff000050;
}
#cztery {
    color:#ff000025;
}
#piec {
    color:#ff000015;
}
/*p{
    background-color: #ff0000;
    height: 100px;
    width: 100px;
}*/
.niebieski {
    background-color: #0000ff;
}
.przezroczysty {
    opacity: 50%;
}
p {
    color:#00ff00;
}
h1{
    
    background-color: #808080;
}
h3 {
    
    background-color: #0000ff;
}
h1 + h3 {
    color: #a42423;
}