div {
    background-color: #fea500;
    height: 10em;
    width: 10em;
    vertical-align: middle;
}
h1 {
    color:#ffffff;
}
body {
    background-color: #808080;
}
body {
    background-color: #ffffff;
}
h1 {
    color:#0000ff;
    text-align: center;
}
span {
    color:#ff0000;
}
h1 {
    color:#ff0000;
    text-align: left;
}
body { 
    background-color: #faebd6;
}
p {
    color:#00008f;
}
#pierwszy {
    color:#a42423;
}
body {
    background-color: #f5f5dd;
}
#pierwszy{
    background-color: #000000;
    }
#drugi{
    background-color: #00000075;
}
#trzeci{
    background-color: #00000050;
}
#czwarty{
    background-color: #00000025;
}