div {
    background-color: #fea500;
    height: 10em;
    width: 10em;
}
h1 {
    color:#ffffff;
}
body {
    background-color: #808080;
}
body {
    background-color: #ffffff;
}
h1 {
    color:#0000ff;
    text-align: center;
}
span {
    color:#ff0000;
}